* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



div-left {

    display: inline-block;
    position: absolute;

    margin-left: 50px;
    margin-top: 130px;



}

div-right {
    
    display: inline-block;

    background: rgba(93, 93, 125, 0.16);
    margin-left: 812px;
    height: 100%;
    width: 56%;
    position: absolute;
    height: 200%;

}

img {
    position: relative;
    margin-top: 128px;
    margin-left: 677px;
    width: 456px;
    height: 468.95px;


}

.buttons {
    color: #5D5D7D;
    font-size: 28px;
    position: relative;
    margin-right: 41px;
    cursor: pointer;
    margin-left: 35px;


}

#Work {
    opacity: 0.4;
}



h1 {
    color: #5D5D7D;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    width: 540px;
    color: #5D5D7D;
    font-size: 28px;
}

.get {
    width: 269px;
    height: 62px;
    background: #9499EA;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer
}



@media (max-width: 900px) {
    div-left {
        margin-left: -20px;
        margin-top: 58px;
        


    }

    h1 {
        width: 186px;
        font-size: 36px;
        margin-left: 85px;
        line-height: 60px;
        margin-top: 5px;
    }



    p {
        width: 260px;
        font-size: 16px;
        margin-left: 85px;
        margin-top: -20px;

    }

    .get {
        width: 250px;
        height: 62px;
        margin-left: 80px;
        margin-top: -16px;
    }

    img {
        margin: 0;
        width: 271px;
        height: 323px;
        margin-top: 480px;
        margin-left: 51px;
        
             
    }
    div-right{
        margin: 0;
        width: 413px;
        height: 480px;
        margin-top: 440px;
        
        background: rgba(93, 93, 125, 0.16);
        
    }
    .buttons{
        display: none;
    }
}